<div id="loader">
	<img src="client/angular/ajax-loader.gif">
</div>
<div wc-overlay wc-overlay-delay="0">
    <img src="client/angular/ajax-loader.gif">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12" align="center">
			<div id="map-canvas"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-center grid-element" ng-repeat="restaurant in restaurants | orderBy: 'distance'" ng-show="restaurant.address">
			<img src="{{restaurant.logo}}">
			<p class="title">{{restaurant.burgerName}}</p>
			<p>{{restaurant.burgerDescription}}</p>
			<p>{{restaurant.hours}}</p>
			<strong><p>{{restaurant.address + "  |  " + restaurant.phone}}</p></strong>
			<p>{{restaurant.distance + " miles"}}</p>
		</div>
	</div>
</div>


