.title
{
	font-weight: bold;
	text-transform: uppercase;
}
.container
{
	font-family: 'Open Sans', sans-serif;
}

.grid-element {
	min-height: 275px;
}

.overlayContainer { display: none;}
.overlayBackground { top:0px; left:0px; padding-left:100px;position:absolute;z-index:1000;height:100%;width:100%;background-color:#fff;opacity:0.3;}
.overlayContent { position:absolute; background-color:#fff;font-weight: bold;height: 0px;width: 0px;z-index:1000;text-align:center;padding-top: 0px;}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
}

.banner{
	position: absolute;
	left: 0px;
	top:0px;
}

#distance{
	color: green;
	font: bold 12pt;
}
#map-canvas{
	margin-bottom: 25px;
}

.element {
	border: 1px solid black;
}

.rotate
{
transform:rotate(-45deg);
-ms-transform:rotate(7deg); /* IE 9 */
-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
}